body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

p {
    color: #8b8b8bcc;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin-top: 40px 20px 0;
    font-size: 0;
    
}

li {
    display: inline;
    padding-right: 10px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 800;
    margin: 0 25px;
    font-family: 'Roboto', sans-serif; 
    height: 45px;
}

/*.menu-item {
    display: inline;
    margin-right: 25 px;
    margin-left: 25 px;
}*/

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
}

.actions > * {
    margin-right: 0 10px;
}

.actions > a {
    color: #67b54b;
}

.actions button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;

}

.main {
    margin-top: 140px;
    text-align: center;
}